/* 이미지 삽입 */
.item__img.wedding01 { background-image: url(../../img/sub-project/wedding/1.jpg); }
.item__img.wedding02 { background-image: url(../../img/sub-project/wedding/2.jpg); }
.item__img.wedding03 { background-image: url(../../img/sub-project/wedding/3.jpg); }
.item__img.wedding04 { background-image: url(../../img/sub-project/wedding/4.jpg); }
.item__img.wedding05 { background-image: url(../../img/sub-project/wedding/5.jpg); }
.item__img.wedding06 { background-image: url(../../img/sub-project/wedding/6.jpg); }