/* 이미지 삽입 */
.item__img.beauty01 { background-image: url(../../img/sub-project/beauty/1.jpg); }
.item__img.beauty02 { background-image: url(../../img/sub-project/beauty/2.jpg); }
.item__img.beauty03 { background-image: url(../../img/sub-project/beauty/3.jpg); }
.item__img.beauty04 { background-image: url(../../img/sub-project/beauty/4.jpg); }